<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="pl.pwr.pogoda">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo_square"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@drawable/logo_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:fullBackupContent="true"
            tools:targetApi="n">
        <activity android:name="pl.pwr.pogoda.activities.SettingsActivity">
        </activity>


        <activity android:name="pl.pwr.pogoda.activities.SearchWeatherActivity">
            <intent-filter android:label="@string/search">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="www.simplyclime.pl"
                        android:pathPrefix="/"
                        android:scheme="https"/>
                <data
                        android:host="simplyclime"
                        android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name="pl.pwr.pogoda.activities.MainActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>